/config/app.php

/.htpasswd
/vendor/*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
ehthumbs_vista.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.stackdump
/.well-known/*
*~
*.swp
*.swo
*.sublime-*
*.stTheme.cache
*.tmlanguage.cache
*.tmPreferences.cache
.settings/*
.idea/*
nbproject/*
.vscode
.sass-cache/
*.php_cs.cache
/.scannerwork/*
/.settings/*
/.tests/*